.git
.idea
.vscode
.DS_Store

.env
.env.*
*.pem

.cache
.pytest_cache
.ruff_cache
.venv
venv
__pycache__
*.pyc
*.pyo
*.egg-info

build
dist
target
run
data/runtime

vendor/relarn/src/*.o
vendor/relarn/src/fov/*.o
vendor/relarn/src/deps.mk
vendor/relarn/src/relarn.bin
